<nav class="bg-indigo-600 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-2xl font-semibold">Coral</a>
      <div class="space-x-4">
        <a href="/" class="text-white hover:text-indigo-200">Inicio</a>
        <a href="/sales-history" class="text-white hover:text-indigo-200">Historial de Ventas</a>
        <a href="/product-management" class="text-white hover:text-indigo-200">Productos</a>
        <a href="/sales-management" class="text-white hover:text-indigo-200">Ventas</a>
      </div>
    </div>
  </nav>
  